@import '../../../styles/settings.scss';
@import '../../../styles/bootstrap.scss';

.root {
  padding: $base-padding;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.totalQty {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.mainCol {
  display: flex;
  margin: 15px;
  min-height: 110px;
  max-width: 700px;
  border: 1px solid black;
}

.colLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.img {
  width: 80px;
  height: 80px;
}

.colRight {
  flex: start;
  align-items: flex-start;
  margin: auto;
}

.name {
  font-size: 25px;
  width: 350px;
  color: black;
}

.buttonLine {
  display: flex;
  position: relative;
  justify-content: space-between;
  justify-self: end;
  align-items: center;
  width: 100%;
  margin-left: 2px;
  margin-bottom: 3px;
}

.removeButton {
  width: 60px;
  max-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  cursor: pointer;
  height: 35px;
  width: 35px;
  font-size: 20px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  height: 200px
}
