@import '../../../styles/settings.scss';
@import '../../../styles/bootstrap.scss';

.root {
  padding: $base-padding;
}

.viewClothes {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
