@import '../../../styles/settings.scss';
@import '../../../styles/bootstrap.scss';

.cartButton {
  background-color: #2b4170;
  width: 120px;
  max-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  cursor: pointer;
  height: 35px;
  width: 35px;
  font-size: 20px;
  margin-top: 5%;
  margin-bottom: 5%;

}
