@import '../../../styles/settings.scss';
@import '../../../styles/bootstrap.scss';

.footer {
  background-color: #2b4170;
  min-height: 5vh;
  font-size: calc(8px + 2vmin);
  color: white;
  text-align: center;
}
